/**
 * Site header
 */
.site-header {
    border-top: 5px solid $brand-color;
    min-height: 100px;
    background-color: $background-color;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 45px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 13px;
    float: left;
    color: $brand-color;
    &:hover{
        cursor: arrow;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    
    text-align: center;
    width: 50%;
    margin-top: 20px;

    .page-link {
        color: $text-light-color;
        line-height: $base-line-height;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 5px 30px;
    }

    @include media-query($on-palm) {
        width: 100%;
        margin-top: 0;
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background-color: $background-color;
}

.footer-heading {
    font-size: 24px;
    color: #FFF;
    margin-bottom: $spacing-unit / 2;
}

.mugshot:after {
    content: '';
    background: url("/static/me.jpg") no-repeat center center;
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 50%;
    border: 3px solid #FFF;
    @include media-query($on-palm) {
        margin: 0 auto;
    }
}

.social-media-list {
    list-style: none;
    margin-left: 0;
    @include media-query($on-palm) {
        text-align: center;
    } 

    li {
        @include media-query($on-palm) {
            display: inline-block;
            margin: 0 10px;
        }       
    }
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-top: 25px;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        padding-bottom: $spacing-unit;
        margin-bottom: $spacing-unit;
        border-bottom: 1px solid #CCCCCC;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

img + em {
    text-align: center;
    width: 100%;
    display: inline-block;
    color: #999;
}
